In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#find all 30 Dow Jone Industrial stock tickers
url = "https://finance.yahoo.com/quote/%5EDJI/components?p=%5EDJI"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
results = soup.find_all('a', class_="C($c-fuji-blue-1-b) Cur(p) Td(n) Fw(500)")
tickers1=[]

for x in results:
    tickers1.append(x.text)

In [3]:
results1=soup.find_all('td', class_="Py(10px) Ta(start) Pend(10px)")
company_name=[]
for x in range(1,61,2):
    company_name.append(results1[x].text)
company_name

['The Home Depot, Inc.',
 'JPMorgan Chase & Co.',
 'International Business Machines Corporation',
 'Caterpillar Inc.',
 'The Boeing Company',
 'Merck & Co., Inc.',
 'Pfizer Inc.',
 'The Goldman Sachs Group, Inc.',
 'United Technologies Corporation',
 'Johnson & Johnson',
 'Walgreens Boots Alliance, Inc.',
 'Dow Inc.',
 '3M Company',
 'The Walt Disney Company',
 'Visa Inc.',
 'Chevron Corporation',
 'Verizon Communications Inc.',
 'Cisco Systems, Inc.',
 'Exxon Mobil Corporation',
 'Intel Corporation',
 'American Express Company',
 'UnitedHealth Group Incorporated',
 "McDonald's Corporation",
 'NIKE, Inc.',
 'Microsoft Corporation',
 'Apple Inc.',
 'The Travelers Companies, Inc.',
 'The Coca-Cola Company',
 'The Procter & Gamble Company',
 'Walmart Inc.']

In [4]:
Company_Name_Table=pd.DataFrame()
Company_Name_Table["Ticker"]=tickers1
Company_Name_Table["Company_Name"]=company_name
Company_Name_Table=Company_Name_Table.sort_values(by="Ticker")
Company_Name_Table=Company_Name_Table.reset_index(drop=True)
Company_Name_Table.insert(0,"Ticker_ID",Company_Name_Table.index+1)
Company_Name_Table.tail()

    Ticker_ID Ticker                    Company_Name
25         26      V                       Visa Inc.
26         27     VZ     Verizon Communications Inc.
27         28    WBA  Walgreens Boots Alliance, Inc.
28         29    WMT                    Walmart Inc.
29         30    XOM         Exxon Mobil Corporation

In [5]:
tickers=tickers1.copy()
tickers.sort()

In [6]:
# URL of page to be scraped
url = "https://finance.yahoo.com/quote/WMT/key-statistics?p=WMT"
df=pd.DataFrame()
df1=pd.DataFrame()
df2=pd.DataFrame()
df3=pd.DataFrame()
df4=pd.DataFrame()
df5=pd.DataFrame()
df6=pd.DataFrame()
df7=pd.DataFrame()
df8=pd.DataFrame()
tables = pd.read_html(url)
df=pd.DataFrame(tables[0][0])

In [7]:
for x in tickers:
    url= f"https://finance.yahoo.com/quote/{x}/key-statistics?p={x}"
    k=pd.read_html(url)
    df[x]=k[0][1]
    df1[x]=k[7][1]
    df2[x]=k[8][1]
    df3[x]=k[9][1]
    df4[x]=k[2][1]
    df5[x]=k[4][1]
    df6[x]=k[5][1]
    df7[x]=k[6][1]
    df8[x]=k[3][1]

In [8]:
dfcopy=df.T.copy()
dfcopy.columns = dfcopy.iloc[0]
dfcopy=dfcopy[1:]
dfcopy.reset_index(level=0,inplace=True)
dfcopy.insert(0, "Ticker_ID", dfcopy.index+1)
Valuation_Measures_Table=dfcopy.rename(columns={"index":"Ticker"})
Valuation_Measures_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Valuation_Measures_Table=Valuation_Measures_Table.drop(["Ticker"], axis=1)
Valuation_Measures_Table.head()

,Ticker_ID,Company_Name,Market Cap (intraday) 5,Enterprise Value 3,Trailing P/E,Forward P/E 1,PEG Ratio (5 yr expected) 1,Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue 3,Enterprise Value/EBITDA 6
0,1,Apple Inc.,907.24B,939.78B,16.59,15.38,1.34,3.51,8.58,3.64,12.15
1,2,American Express Company,98.92B,127.01B,15.08,13.16,1.59,2.63,4.46,3.38,NaN
2,3,The Boeing Company,199.55B,207.73B,20.30,15.72,1.22,1.98,1597.61,2.06,15.44
3,4,Caterpillar Inc.,75.11B,105.31B,12.22,10.08,0.56,1.36,4.86,1.90,9.46
4,5,"Cisco Systems, Inc.",234.89B,220.17B,19.47,15.79,1.74,4.62,5.79,4.33,14.44

In [9]:
Stock_Price_Hist_Table = df1.T.copy() 
Stock_Price_Hist_Table.columns=tables[7][0]
Stock_Price_Hist_Table.reset_index(level=0,inplace=True)
Stock_Price_Hist_Table=Stock_Price_Hist_Table.rename(columns = lambda x : str(x)[:-1])
Stock_Price_Hist_Table=Stock_Price_Hist_Table.rename(columns={"Beta (3Y Monthly":"Beta (3Y Monthly)"})
Stock_Price_Hist_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Stock_Price_Hist_Table=Stock_Price_Hist_Table.rename(columns={"inde":"Ticker"})
Stock_Price_Hist_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Stock_Price_Hist_Table=Stock_Price_Hist_Table.drop(["Ticker"], axis=1)
Stock_Price_Hist_Table.head()

,Ticker_ID,Company_Name,Beta (3Y Monthly),52-Week Change,S&P500 52-Week Change,52 Week High,52 Week Low,50-Day Moving Average,200-Day Moving Average
0,1,Apple Inc.,0.89,6.27%,5.15%,233.47,142.00,199.91,181.18
1,2,American Express Company,1.10,15.77%,5.15%,119.66,89.05,113.29,106.78
2,3,The Boeing Company,1.33,2.77%,5.15%,446.01,292.47,375.59,366.40
3,4,Caterpillar Inc.,1.33,-15.51%,5.15%,161.60,112.06,137.58,131.44
4,5,"Cisco Systems, Inc.",1.05,15.80%,5.15%,57.53,40.25,55.14,48.99

In [10]:
Share_Statistics_Table=df2.T.copy()
Share_Statistics_Table.columns=tables[8][0]
Share_Statistics_Table.reset_index(level=0,inplace=True)
Share_Statistics_Table=Share_Statistics_Table.rename(columns = lambda x : str(x)[:-1])
Share_Statistics_Table=Share_Statistics_Table.rename(columns={"Floa":"Float"})
Share_Statistics_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Share_Statistics_Table=Share_Statistics_Table.rename(columns={"inde":"Ticker"})
Share_Statistics_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Share_Statistics_Table=Share_Statistics_Table.drop(["Ticker"], axis=1)
Share_Statistics_Table.head()

,Ticker_ID,Company_Name,Avg Vol (3 month),Avg Vol (10 day),Shares Outstanding,Float,% Held by Insiders,% Held by Institutions,"Shares Short (Apr 30, 2019)","Short Ratio (Apr 30, 2019)","Short % of Float (Apr 30, 2019)","Short % of Shares Outstanding (Apr 30, 2019)","Shares Short (prior month Mar 29, 2019)"
0,1,Apple Inc.,27.68M,32.36M,4.6B,4.34B,0.07%,60.95%,52.67M,2.19,1.11%,1.14%,67.79M
1,2,American Express Company,3.33M,3.47M,835.08M,681.35M,0.29%,86.33%,6.38M,1.94,0.93%,0.76%,6.7M
2,3,The Boeing Company,7.73M,5.22M,562.63M,562.23M,0.07%,70.56%,5.31M,0.79,0.94%,0.94%,5.07M
3,4,Caterpillar Inc.,4.14M,5.02M,571.88M,570.87M,0.17%,68.58%,6.67M,1.67,1.17%,1.17%,6.26M
4,5,"Cisco Systems, Inc.",20.35M,22.94M,4.4B,4.4B,0.07%,77.33%,39.89M,2.4,0.86%,0.91%,42.22M

In [11]:
Dividends_Splits_Table=df3.T.copy()
Dividends_Splits_Table.columns=tables[9][0]
Dividends_Splits_Table.reset_index(level=0,inplace=True)
Dividends_Splits_Table=Dividends_Splits_Table.rename(columns = lambda x : str(x)[:-1])
Dividends_Splits_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Dividends_Splits_Table=Dividends_Splits_Table.rename(columns={"inde":"Ticker"})
Dividends_Splits_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Dividends_Splits_Table=Dividends_Splits_Table.drop(["Ticker"], axis=1)
Dividends_Splits_Table.head()

,Ticker_ID,Company_Name,Forward Annual Dividend Rate,Forward Annual Dividend Yield,Trailing Annual Dividend Rate,Trailing Annual Dividend Yield,5 Year Average Dividend Yield,Payout Ratio,Dividend Date,Ex-Dividend Date,Last Split Factor (new per old),Last Split Date
0,1,Apple Inc.,2.92,1.46%,2.92,1.46%,1.68,23.11%,"May 16, 2019","May 10, 2019",1/7,"Jun 9, 2014"
1,2,American Express Company,1.56,1.33%,1.52,1.30%,1.45,19.36%,"Aug 9, 2019","Jul 3, 2019",8753/10000,"Oct 3, 2005"
2,3,The Boeing Company,8.22,2.18%,7.18,2.03%,2.30,41.17%,"Jun 7, 2019","May 9, 2019",1/2,"Jun 9, 1997"
3,4,Caterpillar Inc.,3.44,2.47%,3.44,2.62%,3.00,31.20%,"Aug 20, 2019","Jul 19, 2019",1/2,"Jul 14, 2005"
4,5,"Cisco Systems, Inc.",1.4,2.50%,1.32,2.49%,2.95,48.71%,"Apr 24, 2019","Apr 4, 2019",1/2,"Mar 23, 2000"

In [12]:
Profitability_Table=df4.T.copy()
Profitability_Table.columns=tables[2][0]
Profitability_Table.reset_index(level=0,inplace=True)
Profitability_Table=Profitability_Table.rename(columns={"index":"Ticker"})
Profitability_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Profitability_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Profitability_Table=Profitability_Table.drop(["Ticker"], axis=1)
Profitability_Table.head()

0  Ticker_ID              Company_Name Profit Margin Operating Margin (ttm)
0          1                Apple Inc.        22.12%                 25.34%
1          2  American Express Company        18.18%                 21.32%
2          3        The Boeing Company        10.06%                 11.24%
3          4          Caterpillar Inc.        11.50%                 15.20%
4          5       Cisco Systems, Inc.        25.31%                 26.46%

In [13]:
Management_Effectiveness_Table=df8.T.copy()
Management_Effectiveness_Table.columns=tables[2][0]
Management_Effectiveness_Table.reset_index(level=0,inplace=True)
Management_Effectiveness_Table=Management_Effectiveness_Table.rename(columns={"index":"Ticker"})
Management_Effectiveness_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Management_Effectiveness_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Management_Effectiveness_Table=Management_Effectiveness_Table.drop(["Ticker"], axis=1)
Management_Effectiveness_Table.head()

0  Ticker_ID              Company_Name Profit Margin Operating Margin (ttm)
0          1                Apple Inc.        11.54%                 49.13%
1          2  American Express Company         3.63%                 32.69%
2          3        The Boeing Company         6.05%              1,324.44%
3          4          Caterpillar Inc.         6.71%                 41.40%
4          5       Cisco Systems, Inc.         7.19%                 27.74%

In [14]:
tables[4]

                                 0        1
0                    Revenue (ttm)  514.41B
1          Revenue Per Share (ttm)   175.62
2   Quarterly Revenue Growth (yoy)    1.90%
3               Gross Profit (ttm)   129.1B
4                           EBITDA    32.8B
5   Net Income Avi to Common (ttm)    6.67B
6                Diluted EPS (ttm)     2.26
7  Quarterly Earnings Growth (yoy)   69.50%

In [15]:
Income_Statement_Table=df5.T.copy()
Income_Statement_Table.columns=tables[4][0]
Income_Statement_Table.reset_index(level=0,inplace=True)
Income_Statement_Table=Income_Statement_Table.rename(columns={"index":"Ticker"})
Income_Statement_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Income_Statement_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Income_Statement_Table=Income_Statement_Table.drop(["Ticker"], axis=1)
Income_Statement_Table.head()

,Ticker_ID,Company_Name,Revenue (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Gross Profit (ttm),EBITDA,Net Income Avi to Common (ttm),Diluted EPS (ttm),Quarterly Earnings Growth (yoy)
0,1,Apple Inc.,258.49B,54.15,-5.10%,101.84B,77.34B,57.17B,11.89,-16.40%
1,2,American Express Company,37.6B,44.15,6.80%,25.51B,NaN,6.7B,7.85,-5.10%
2,3,The Boeing Company,100.66B,175.33,-2.00%,19.64B,13.45B,10.13B,17.47,-13.20%
3,4,Caterpillar Inc.,55.33B,94.58,4.70%,14.9B,11.13B,6.36B,10.75,13.00%
4,5,"Cisco Systems, Inc.",50.82B,10.99,4.70%,30.68B,15.25B,12.87B,2.74,NaN

In [16]:
Balance_Sheet_Table=df6.T.copy()
Balance_Sheet_Table.columns=tables[5][0]
Balance_Sheet_Table.reset_index(level=0,inplace=True)
Balance_Sheet_Table=Balance_Sheet_Table.rename(columns={"index":"Ticker"})
Balance_Sheet_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Balance_Sheet_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Balance_Sheet_Table=Balance_Sheet_Table.drop(["Ticker"], axis=1)
Balance_Sheet_Table.head()

,Ticker_ID,Company_Name,Total Cash (mrq),Total Cash Per Share (mrq),Total Debt (mrq),Total Debt/Equity (mrq),Current Ratio (mrq),Book Value Per Share (mrq)
0,1,Apple Inc.,80.09B,17.41,112.63B,106.39,1.32,22.98
1,2,American Express Company,33.28B,39.85,61.37B,276.21,1.88,26.55
2,3,The Boeing Company,7.73B,13.74,15.81B,6813.79,1.07,0.22
3,4,Caterpillar Inc.,6.36B,11.12,36.54B,236.08,1.43,27.00
4,5,"Cisco Systems, Inc.",40.38B,9.17,25.66B,62.90,1.80,9.22

In [17]:
Cash_Flow_Table=df7.T.copy()
Cash_Flow_Table.columns=tables[6][0]
Cash_Flow_Table.reset_index(level=0,inplace=True)
Cash_Flow_Table=Cash_Flow_Table.rename(columns={"index":"Ticker"})
Cash_Flow_Table.insert(0, "Ticker_ID", dfcopy.index+1)
Cash_Flow_Table.insert(1,"Company_Name", Company_Name_Table["Company_Name"].copy())
Cash_Flow_Table=Cash_Flow_Table.drop(["Ticker"], axis=1)
Cash_Flow_Table.head()

,Ticker_ID,Company_Name,Operating Cash Flow (ttm),Levered Free Cash Flow (ttm)
0,1,Apple Inc.,71.86B,45.63B
1,2,American Express Company,15.41B,NaN
2,3,The Boeing Company,14.97B,8.45B
3,4,Caterpillar Inc.,6.74B,2.56B
4,5,"Cisco Systems, Inc.",14.08B,8.06B

In [18]:
url="https://tradingeconomics.com/united-states/stock-market"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
results2 = soup.find_all('td', class_="hidden-xs")
othertickers=[]
daily_change=[]
daily_percent_change=[]
yearly_percent_change=[]
price=[]
for x in results2:
        if x.b:
           othertickers.append(x.b.text)
othertickers=othertickers[:30]

In [19]:
results3=soup.find_all('td', id="nch")
for x in results3:
    daily_change.append(x.text.strip())
daily_change=daily_change[:30]                       
results4=soup.find_all('td', id="pch")
for x in results4:
    daily_percent_change.append(x.text.strip())
daily_percent_change=daily_percent_change[:30]
results5=soup.find_all('td')
for x in range(6,276,9):
    yearly_percent_change.append(results5[x].text)
yearly_percent_change=yearly_percent_change[:30]
results6=soup.find_all('td', id="p")
for x in results6:
    price.append(x.text.strip())
price=price[:30]
General_Table=pd.DataFrame()
General_Table["Ticker"]=othertickers
General_Table["Price"]=price
General_Table["Daily_Change"]=daily_change
General_Table["Daily_Percent_Change"]=daily_percent_change
General_Table["Yearly_Percent_Change"]=yearly_percent_change
General_Table.insert(0,"Ticker_ID", General_Table.index+1)
General_Table.head()

,Ticker_ID,Ticker,Price,Daily_Change,Daily_Percent_Change,Yearly_Percent_Change
0,1,AAPL,197.18,-3.54,-1.76%,4.84%
1,2,MSFT,127.13,1.63,1.30%,30.31%
2,3,JPM,112.51,-0.01,-0.01%,-1.13%
3,4,JNJ,139.05,0.32,0.23%,9.28%
4,5,XOM,76.56,-0.21,-0.27%,-5.76%

In [20]:
url="https://finance.yahoo.com/quote/HD/profile?p=HD"

In [21]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
newresult = soup.find_all('span', class_="Fw(600)")
newresult

[<span class="Fw(600)" data-reactid="21">Consumer Cyclical</span>,
 <span class="Fw(600)" data-reactid="25">Home Improvement Stores</span>,
 <span class="Fw(600)" data-reactid="29"><span data-reactid="30">413,000</span></span>]

In [22]:
sector=[]
industry=[]
employee_number=[]
for x in tickers:
    url=f"https://finance.yahoo.com/quote/{x}/profile?p={x}"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    newresult1 = soup.find_all('span', class_="Fw(600)")
    sector.append(newresult1[0].text)
    industry.append(newresult1[1].text)
    employee_number.append(newresult1[2].text)

In [23]:
Generalinfo=pd.DataFrame()
Generalinfo["Ticker"]=tickers
Generalinfo["Industry"]=industry
Generalinfo["Sector"]=sector
Generalinfo["Numbers_of_Employee"]=employee_number
Generalinfo.insert(0,"Ticker_ID",Generalinfo.index+1)
Generalinfo

,Ticker_ID,Ticker,Industry,Sector,Numbers_of_Employee
0,1,AAPL,Consumer Electronics,Technology,"100,000"
1,2,AXP,Credit Services,Financial Services,"59,000"
2,3,BA,Aerospace & Defense,Industrials,"153,000"
3,4,CAT,Farm & Construction Equipment,Industrials,"104,000"
4,5,CSCO,Communication Equipment,Technology,"74,200"
5,6,CVX,Oil & Gas Integrated,Energy,"48,600"
6,7,DIS,Media - Diversified,Consumer Cyclical,"201,000"
7,8,DOW,Chemicals,Basic Materials,
8,9,GS,Capital Markets,Financial Services,"35,900"
9,10,HD,Home Improvement Stores,Consumer Cyclical,"413,000"
10,11,IBM,Information Technology Services,Technology,"350,600"
11,12,INTC,Semiconductors,Technology,"107,400"
12,13,JNJ,Drug Manufacturers - Major,Healthcare,"135,100"
13,14,JPM,Banks - Global,Financial Services,"255,998"
14,15,KO,Beverages - Soft Drinks,Consumer Defensive,"62,600"
15,16,MCD,Restaurants,Consumer Cyclical,"210,000"
16,17,MMM,Diversified Industrials,Industrials,"93,000"
17,18,MRK,Drug Manufacturers - Major,Healthcare,"69,000"
18,19,MSFT,Software - Infrastructure,Technology,"131,000"
19,20,NKE,Footwear & Accessories,Consumer Cyclical,"73,100"
20,21,PFE,Drug Manufacturers - Major,Healthcare,"92,400"
21,22,PG,Household & Personal Products,Consumer Defensive,"92,000"
22,23,TRV,Insurance - Property & Casualty,Financial Services,"30,400"
23,24,UNH,Health Care Plans,Healthcare,"300,000"
24,25,UTX,Aerospace & Defense,Industrials,"240,200"
25,26,V,Credit Services,Financial Services,"17,000"
26,27,VZ,Telecom Services,Communication Services,"139,400"
27,28,WBA,Pharmaceutical Retailers,Consumer Defensive,"244,000"
28,29,WMT,Discount Stores,Consumer Defensive,"2,200,000"
29,30,XOM,Oil & Gas Integrated,Energy,"71,000"

In [24]:
Industry_Table=pd.DataFrame()
Industry_Table["Industry"]=industry
Industry_Table["Sector"]=sector
Industry_Table=Industry_Table.drop_duplicates(subset='Industry', keep="last")
Industry_Table=Industry_Table.sort_values(by="Industry")
Industry_Table=Industry_Table.reset_index(drop=True)
Industry_Table.insert(0,"Industry_ID",Industry_Table.index+1)
Industry_Table
mergetable=pd.merge(Generalinfo,Industry_Table,on="Industry")
mergetable=mergetable.drop(["Sector_x","Numbers_of_Employee"],axis=1)
mergetable=mergetable.rename(columns={"Sector_y":"Sector"})
mergetable.head()

   Ticker_ID Ticker              Industry  Industry_ID              Sector
0          1   AAPL  Consumer Electronics            7          Technology
1          2    AXP       Credit Services            8  Financial Services
2         26      V       Credit Services            8  Financial Services
3          3     BA   Aerospace & Defense            1         Industrials
4         25    UTX   Aerospace & Defense            1         Industrials

In [25]:
Sector_Table=pd.DataFrame()
Sector_Table["Sector"]=sector
Sector_Table=Sector_Table.drop_duplicates(subset='Sector', keep="last")
Sector_Table=Sector_Table.reset_index(drop=True)
Sector_Table.insert(0,"Sector_ID",Sector_Table.index+1)
Sector_Table.head()

   Sector_ID             Sector
0          1    Basic Materials
1          2         Technology
2          3  Consumer Cyclical
3          4         Healthcare
4          5        Industrials

In [26]:
mergetable1=pd.merge(mergetable,Sector_Table,on="Sector")
mergetable1=mergetable1.sort_values(by="Ticker_ID")
mergetable1=mergetable1.reset_index(drop=True)
Stock_Type_Table=mergetable1.drop(["Industry","Sector"], axis=1)
Stock_Type_Table.head()

   Ticker_ID Ticker  Industry_ID  Sector_ID
0          1   AAPL            7          2
1          2    AXP            8          6
2          3     BA            1          5
3          4    CAT           12          5
4          5   CSCO            6          2

In [30]:
Industry_Table=mergetable1[["Industry_ID","Industry","Sector_ID"]]
Industry_Table=Industry_Table.drop_duplicates(subset="Industry",keep="last")
Industry_Table=Industry_Table.sort_values(by="Industry_ID")
Industry_Table=Industry_Table.reset_index(drop=True)
Industry_Table.head(10)

   Industry_ID                 Industry  Sector_ID
0            1      Aerospace & Defense          5
1            2           Banks - Global          6
2            3  Beverages - Soft Drinks          8
3            4          Capital Markets          6
4            5                Chemicals          1
5            6  Communication Equipment          2
6            7     Consumer Electronics          2
7            8          Credit Services          6
8            9          Discount Stores          8
9           10  Diversified Industrials          5

In [28]:
#Industry_Table,Stock_Type_Table,Sector_Table,General_Table

In [29]:
#Valuation_Measures_Table,Stock_Price_Hist_Table,Dividends_Splits_Table,Share_Statistics_Table,Profitability_Table,Management_Effectiveness_Table,
#Income_Statement_Table,Balance_Sheet_Table,Cash_Flow_Table

#Company_Name_Table

In [86]:
url="https://finance.yahoo.com/quote/HD/profile?p=HD"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
newresult = soup.find_all('p', class_="D(ib) W(47.727%) Pend(40px)")
newresult[0]

<p class="D(ib) W(47.727%) Pend(40px)" data-reactid="8"><!-- react-text: 9 -->2455 Paces Ferry Road<!-- /react-text --><br data-reactid="10"/><!-- react-text: 11 -->Atlanta, GA 30339<!-- /react-text --><br data-reactid="12"/><!-- react-text: 13 -->United States<!-- /react-text --><br data-reactid="14"/><a data-reactid="15" href="tel:770-433-8211">770-433-8211</a><br data-reactid="16"/><a data-reactid="17" href="http://www.homedepot.com" rel="noopener" target="_blank" title="">http://www.homedepot.com</a></p>